body {
    font-family: "Outfit";
    background-color: hsl(212, 45%, 89%);
    margin: 0;
}

.top-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-container .card {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    max-width: 355px;
    align-items: center;
}

.top-container .card img{
    margin: 15px;
    width: 325px;
    object-fit: contain;
    border-radius: 15px;
}

.top-container .card .heading-text {
    width: 80%;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    font-weight: 700;
}

.top-container .card .attribution-text {
    width: 80%;
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 20px;
}